<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    
    <filter>
        <filter-name>authentication</filter-name>
        <filter-class>filter.authentication</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authentication</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    
  <filter>
        <filter-name>authenticationManager</filter-name>
        <filter-class>filter.authenticationManager</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authenticationManager</filter-name>
        <url-pattern>/manager/*</url-pattern>
    </filter-mapping>
</web-app>
